/* Background colors */

.bc-first {
    background-color: rgb(56, 129, 212);
}
.bc-second {
    background-color: blue;
}
.bc-third {
    background-color: rgb(119, 104, 156);
}
.bc-fourth {
    background-color: rgb(110, 108, 108);
}
.bc-fifth {
    background-color: rgb(4, 151, 4);
}
.bc-sixth {
    background-color: #DD4124;
}
.bc-seventh {
    background-color: #955251;
}
.bc-light {
    background-color: #F7CAC9;
}
.bc-emerald {
    background-color: #009B77;
}
.bc-true-red {
    background-color: #DD4124;
}
.bc-blue-izis {
    background-color: #5B5EA6;
}
.bc-sand {
    background-color: #DFCFBE;
}






/* text-colors */

.fc-white {
    color: white;
}
.fc-black {
    color: black;
}
.fc-blue {
    color: blue;
}
.fc-red {
    color: red;
}









/* Buttons */

.btn-first {
    background-color: rgb(56, 129, 212);
    border-color: rgb(56, 129, 212);
    color: white;
}
.btn-first:hover {
    background-color: rgb(42, 112, 192);
    border-color: rgb(42, 112, 192);
    color: white;
}

.btn-second {
    background-color: blue;
    border-color: blue;
    color: white;
}
.btn-second:hover {
    background-color: rgb(4, 4, 228);
    border-color: rgb(4, 4, 228);
    color: white;
}

.btn-third {
    background-color: rgb(119, 104, 156);
    border-color: rgb(119, 104, 156);
    color: white;
}
.btn-third:hover {
    background-color: #6B5B95;
    border-color: #6B5B95;
    color: white;
}

.btn-fourth {
    background-color:rgb(110, 108, 108);
    border-color:rgb(110, 108, 108);
    color: white;
}
.btn-fourth:hover {
    background-color: rgb(102, 99, 99);
    border-color: rgb(102, 99, 99);
    color: white;
}

.btn-fifth {
    background-color: rgb(4, 151, 4);
    border-color: rgb(4, 151, 4);
    color: white;
}
.btn-fifth:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.btn-sixth {
    background-color: #DD4124;
    border-color: #DD4124;
    color: white;
}
.btn-sixth:hover {
    background-color: #BC243C;
    border-color: #BC243C;
    color: white;
}


.btn-seventh {
    background-color: #955251;
    border-color: #955251;
    color: white;
}
.btn-seventh:hover {
    background-color: #9b4341;
    border-color: #9b4341;
    color: white;
}

